<%# locals: (form:, text:) %>

<div>
  <%= form.submit text, class: 'flex w-full justify-center rounded-md bg-primary-light dark:bg-primary-dark px-3 py-1.5 text-sm/6 font-semibold text-white dark:text-black shadow-xs hover:bg-secondary-light dark:hover:bg-secondary-dark focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-light dark:focus-visible:outline-secondary-dark' %>
</div>