<h5 class="card-title text-center text-primary">Resend confirmation instructions</h5>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true, required: true, wrapper_html: { class: 'mb-3' }, input_html: { autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) }, as: 'email' %>

  <%= f.button :submit, 'Resend instructions', class: 'btn-primary w-100' %>
<% end %>

<%= render "devise/shared/links" %>
