<%# locals: (type:, message:) %>

<div class="toast toast-end absolute top-2 right-2 z-50" data-controller="auto-dismiss">
  <div class="alert alert-<%= type %>">
    <span><%= message %></span>
  </div>
</div>
