<div class="flex flex-col items-center pb-10">
  <%= render "settings/notifications" %>
  <%= render "settings/linked_account" %>
  <%= render "settings/funding_schedules" %>
  <%= render "settings/transaction_name_overrides" %>
</div>
