# This configuration file is used for Scout APM.
# Environment variables can also be used to configure Scout. See our help docs at https://scoutapm.com/docs/ruby/configuration#environment-variables for more information.
common: &defaults
  # key: Your Organization key for Scout APM. Found on the settings screen.
  # - Default: none
  key: ""

  # log_level: Verboseness of logs.
  # - Default: 'info'
  # - Valid Options: debug, info, warn, error
  # log_level: debug

  # use_prepend: Use the newer `prepend` instrumentation method. In some cases, gems
  #              that use `alias_method` can conflict with gems that use `prepend`.
  #              To avoid the conflict, change this setting to match the method
  #              that the other gems use.
  #              If you have another APM gem installed, such as DataDog or NewRelic,
  #              you will likely want to set `use_prepend` to true.
  #
  #              See https://scoutapm.com/docs/ruby/configuration#library-instrumentation-method
  #              for more information.
  # - Default: false
  # - Valid Options: true, false
  # use_prepend: true

  # name: Application name in APM Web UI
  # - Default: the application names comes from the Rails or Sinatra class name
  name: PayChecQ - Default

  # monitor: Enable Scout APM or not
  # - Default: none
  # - Valid Options: true, false
  monitor: false

  # errors_enabled: Enable error tracking via Scout
  # - Default: false
  errors_enabled: false

  # logs_enabled: Enable log correlation via Scout. THIS REQUIRES AN APP-SPECIFIC INGEST KEY!
  #               Visit the logs tab of your App after deployment to get the ingest key.
  #               See https://scoutapm.com/docs/features/log-management for more information.
  #
  # - Default: false
  logs_enabled: false
  logs_ingest_key: ""

  # In many apps, more than 30% of the time spent in a transaction is within custom code written
  # by your development team. In traces, this shows up as time spent in “Controller” or “Job”.
  # AutoInstruments helps break down the time spent in your custom code without the need to add
  # custom instrumentation on your own.
  auto_instruments: true

development:
  <<: *defaults
  name: PayChecQ - Development

test:
  <<: *defaults
  name: PayChecQ - Test

staging:
  <<: *defaults
  name: PayChecQ - Staging
  monitor: <%= !ARGV.any? { |arg| arg.include?('assets:precompile') } %>
  errors_enabled: true
  logs_enabled: true
  logs_monitor: true
  log_level: debug

production:
  <<: *defaults
  name: PayChecQ - Production
  monitor: <%= !ARGV.any? { |arg| arg.include?('assets:precompile') } %>
  errors_enabled: true
  logs_enabled: true
  logs_monitor: true
