<div id="<%= dom_id transaction %>">
  <div>
    <strong>Name:</strong>
    <%= transaction.name %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </div>

  <div>
    <strong>Pending:</strong>
    <%= transaction.pending %>
  </div>

</div>
